/*bill border color*/

.class1 {
    background-color: white;
}



#enterPage {
    text-align: center;
}

#welcomeText {
    font-size: 24px;
    color: #ccc;
    text-shadow: -1px -1px 0 #fff, 1px 1px 0 #333, 1px 1px 0 #444;
}

.footer-button-left,
.footer-button-right {
    position: absolute;
    margin: 0;
    top: auto;
    bottom: 0.24em;
}

.footer-button-left {
    left: 0.4em;
}

.footer-button-right {
    right: 0.4em;
}
