.footer-button-left,
.footer-button-right {
    position: fixed;
    margin: 0;
    top: auto;
    bottom: 5em;
    z-index: 5;
}

.footer-button-left {
    left: 0.4em;
}

.footer-button-right {
    right: 0.4em;
}
.count-second {
    right: 3em !important;
}

.count-third {
    right: 5em !important;
}


/*shop.css*/
#googleMap{
	position: relative;
	top: 5em;
	left: 8%;
	width:85%;
	height:500px;
}
